/* src/style/Page4.css */

.page4 h2 {
  margin-bottom: 20px;
}

.portfolio-link-container {
  margin-top: 30px;
}

.portfolio-notion-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00e5ff;
  text-decoration: underline;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button.active {
  background-color: #00e5ff;
  color: #000;
}

.filter-button:hover {
  background-color: #444;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
}

.slider-track {
  display: flex;
  transition: transform 0.2s linear;
}

.no-portfolio-message {
  color: #fff;
  padding: 20px;
}

.portfolio-card {
  min-width: 280px;
  margin-right: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

.portfolio-card-image {
  height: 150px;
  border-radius: 8px;
  margin-bottom: 12px;
  background-size: cover;
  background-position: center;
}

.portfolio-card h3 {
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.portfolio-card p {
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.portfolio-card .tech-stack {
  font-size: 0.8rem;
  color: #ccc;
}

.dark-button {
  background-color: #282828;
  color: #eee;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.dark-button:hover {
  background-color: #333;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .slider-container {
    width: 95%;
  }

  .portfolio-card {
    min-width: 250px;
  }
}
