/* PageBar.css */
.page-bar {
  position: fixed;
  top: 50%;
  right: 20px; /* 왼쪽에서 오른쪽으로 변경 */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000; /* 다른 요소와 겹치지 않도록 z-index 추가 */
}

.page-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer; /* 클릭 가능하도록 커서 변경 */
}

.page-indicator.active {
  transform: scale(1.3);
}

/* 각 페이지 인덱스별 포인트 색 */
.page-0 .page-indicator.active {
  background-color: #ffeb3b; /* 노랑 */
}
.page-1 .page-indicator.active {
  background-color: #8bc34a; /* 연두 */
}
.page-2 .page-indicator.active {
  background-color: #03a9f4; /* 파랑 */
}
.page-3 .page-indicator.active {
  background-color: #9c27b0; /* 보라 */
}
